In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [2]:
file = pd.read_csv('Credit_card.csv')
file.head()

             City Country       Date  Card Type Exp Type Gender  Amount
0           Delhi   India  29-Oct-14       Gold    Bills      F   82475
1  Greater Mumbai   India  22-Aug-14   Platinum    Bills      F   32555
2       Bengaluru   India  27-Aug-14     Silver    Bills      F  101738
3  Greater Mumbai   India  12-Apr-14  Signature    Bills      F  123424
4       Bengaluru   India   5-May-15       Gold    Bills      F  171574

In [3]:
file.columns = file.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(','').str.replace(')', '')
file.head()

             city country       date  card_type exp_type gender  amount
0           Delhi   India  29-Oct-14       Gold    Bills      F   82475
1  Greater Mumbai   India  22-Aug-14   Platinum    Bills      F   32555
2       Bengaluru   India  27-Aug-14     Silver    Bills      F  101738
3  Greater Mumbai   India  12-Apr-14  Signature    Bills      F  123424
4       Bengaluru   India   5-May-15       Gold    Bills      F  171574

In [ ]:
##Number 1: Get the sum of the amount of all transaction that has travels in the Exp Type Column

travels = file[file['exp_type'] == 'Travel']
sum_travels = sum(travels.amount)
print ("The sum of amount of all transaction that has travels in the Exp Type column is: " + str(sum_travels))

In [ ]:
##Number 2: Get the count of all transaction that has bills in the Exp Type Column

bills = file[file['exp_type'] == 'Bills']
count_bills = bills['exp_type'].value_counts()
print(count_bills)

In [ ]:
##Number 3: Create a pie chart showing the total amount spent by card type

import matplotlib.pyplot as plt
%matplotlib inline

sums = file.groupby(file['card_type'])['amount'].sum()
plt.axis('equal')

explode = (0.02,0.02,0.02,0.02)
color_palette_list = ['#009ACD', '#ADD8E6', '#63D1F4', '#0EBFE9', '#C1F0F6', '#0099CC']

plt.pie(sums, labels=sums.index, autopct='%1.1f%%', startangle= 120, explode=explode, 
        shadow=True, colors = color_palette_list[0:4], labeldistance=1.1);
plt.title('Total Amount spent by Card type')
plt.legend(frameon=True, bbox_to_anchor=(1.5,0.8))

plt.rcParams['font.family'] = 'sans-serif'
plt.rcParams['text.color'] = 'black'

plt.show()

In [ ]:
file.groupby('card_type')[['amount']].sum()

In [ ]:
##Number 4: Create a bar chart showing the total amount spent by gender
color_palette_list2 = ['#FF1493', '#0000FF', '#63D1F4']
piv = pd.pivot_table(file, columns='gender', values=['amount'], aggfunc=np.sum)
piv.plot(kind='bar', color=color_palette_list2[0:2])

plt.title('Total Amount Spent By Gender')
plt.rcParams['font.family'] = 'sans-serif'
plt.rcParams['text.color'] = 'Grey'
plt.rcParams['axes.labelcolor'] = 'Grey'
plt.rcParams['xtick.color'] = 'Grey'
plt.rcParams['ytick.color'] = 'Grey'
plt.rcParams['font.size'] = 14

In [ ]:
num = file.groupby('gender')[['amount']].sum()
print(num)

In [ ]:
##Number 5: Create a table displaying card type, exp type, gender, amount columns and 
##having either gold or silver in card type column

Card_Type= ['Gold', 'Silver']
file_type=file[file.card_type.isin(Card_Type)]
file_type
goldSilver_card =pd.DataFrame(file_type,columns=['card_type', 'exp_type', 'gender', 'amount'])
goldSilver_card.head(20)